@model GanaderiaLasDelicias.Models.EmployeePayment

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>EmployeePayment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment.PayId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeePaymentId">Editar</a> |
    <a asp-action="Index">Regresar al Listado</a>
</div>
