@model GanaderiaLasDelicias.Models.Salary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deductions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deductions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalaryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
