@model IEnumerable<GanaderiaLasDelicias.Models.Salary>

@{
    ViewData["Title"] = "Salarios";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Empleado</th>
            <th>Salario Bruto</th>
            <th>Deducciones</th>
            <th>Salario Neto</th>
            <th>Vacaciones Usadas</th>
            <th>Fecha de Creación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Employee.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.GrossSalary)</td>
                <td>@Html.DisplayFor(modelItem => item.Deductions)</td>
                <td>@Html.DisplayFor(modelItem => item.NetSalary)</td>
                <td>@Html.DisplayFor(modelItem => item.VacationsUsed)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SalaryId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.SalaryId" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.SalaryId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
