@model IEnumerable<GanaderiaLasDelicias.Models.Bull>

@{
    ViewData["Title"] = "Listado de Toros";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-block bg-gradient-primary">Crear Nuevo Toro</a>
    <button id="generateExcel" class="btn btn-block bg-gradient-success">Reporte de Toros</button>
</p>

<table class="table" id="bullTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SemenCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().InseminatedCows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().PregnantCows)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemenCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InseminatedCows)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PregnantCows)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BullId" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.BullId" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.BullId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Incluir la biblioteca SheetJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('generateExcel').addEventListener('click', () => {
            const table = document.getElementById('bullTable');
            const wb = XLSX.utils.table_to_book(table, { sheet: "Toros" });
            XLSX.writeFile(wb, 'Toros.xlsx');
        });
    });
</script>