@model IEnumerable<GanaderiaLasDelicias.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
}
<h1>Lista de Usuarios</h1>
<p>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-block bg-gradient-primary">Registrar Usuario</a>
    <button id="generateExcel" class="btn btn-block bg-gradient-success">Generar Reporte de Excel</button>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Usuarios</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" id="usersTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
             <div class="btn-group">
              @*  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> | *@
               <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> 
               <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
             </div>
            </td>
        </tr>
}
    </tbody>
</table>
        <!-- Incluir la biblioteca SheetJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('generateExcel').addEventListener('click', () => {
                    const table = document.getElementById('usersTable');
                    const wb = XLSX.utils.table_to_book(table, { sheet: "Usuarios" });
                    XLSX.writeFile(wb, 'Usuarios.xlsx');
                });
            });
        </script>
